img {
	max-height: 300px;
}

#inicio, #meuseventos{
  background-image: url(../images/wallhaven-727431.jpg);
  margin: 0;
}

.cont{
	margin-top: 20px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }