img {
	max-height: 300px;
}

body{
	background-image: url(../images/wallhaven-727431.jpg);
}
.cont{
	margin-top: 20px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }