<html>

<head>
    <title>Cadastro</title>
    <!-- Segue ao lado a chamada ao Materialize -->
    <link rel="stylesheet" href="../css/materialize.css" />
    <link rel="stylesheet" href="../css/estilo.css" />
</head>

<body class="corpo">
    <div class="row">
        <div class=" col s12 m3"></div>
        <div class="col s12 m6">
            <form action="cadastrar.php" method="POST">
                <div class="card-panel">
                    <center>
                        <h5>Cadastrar-se</h5>
                    </center><br>

                    <div class="row">

                    <div class="col s12 m1"></div>
                        <div class="col s12 m10">
                            <div class="input-field col s12 m6">
                                <input name="nome" id="nome" type="text" class="validate" oninput="verificacao()">
                                <label for="nome">Nome</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input name="sobrenome" id="sobrenome" type="text" class="validate" oninput="verificacao()">
                                <label for="sobrenome">Sobrenome</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="usuario" id="usuario" type="text" class="validate" oninput="verificacao()">
                                <label for="usuario">Usuario</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="senha" id="senha" type="password" class="validate" oninput="verificacao()">
                                <label for="senha">Senha</label>
                            </div>
                            <div class="input-field col s12 ">
                                <input name="senha" id="confirmarSenha" type="password" class="validate" oninput="verificacao()">
                                <label for="confirmarSenha">Confirme a senha</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="email" id="email" type="email" class="validate" oninput="verificacao()">
                                <label for="email">E-mail</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input name="cidade" id="cidade"  type="text" class="validate" oninput="verificacao()">
                                <label for="cidade">Cidade</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input name="estado" id="estado"  type="text" class="validate" oninput="verificacao()">
                                <label for="estado">Estado</label>
                            </div>
                        </div>
                    <div class="col s12 m1"></div>
                    </div>
                    
                    <center>
                        
                        <button id="cadastrar" class="waves-effect waves-light indigo darken-4 btn disabled" type="submit">Cadastrar</button><br>
                        <br>
                        <a class="link" href="../index.html">Voltar</a>
                    </center>

                </div>
            </form>
        </div>
        <div class="col s12 m3"></div>
    </div>
    <script src="../js/cadastrar.js"></script>
    <!-- Segue ao lado a chamada ao Materialize -->
    <script src="../js/materialize.js"></script>
</body>


</html>