<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="../css/recuperar-senha.css">
	<link rel="stylesheet" href="../css/materialize.css" />
</head>
<body class="indigo darken-4 valign-wrapper">
	<div class="container">
		<div class="container">
			<div class="row indigo lighten-5">
				<div class="row"></div>
				<div class="col m7 offset-m5"><img class="responsive-img" src="../images/question.png"></div>
				<div class="input-field col m4 offset-m4">
					<input id="userName" name="userName" type="text" class="validate" oninput="verificacao()">
					<label for="userName">user name</label>
				</div>
				<div class="col s7 m7 l7 offset-m5 offset-l4"><button id="button" type="submit" class="waves-effect waves-light indigo darken-4 btn  disabled">solicitar nova senha</button></div>
				<div class="row"></div>
		</div>
	</div>
	<script src="../js/recuperar-senha.js"></script>
	<script src="../js/materialize.js"></script>
	<!--<div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
</body>
</html>